.login__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login__container span {
  font-size: 1.25em;
}

.login__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__header span {
  font-size: 2em;
  font-weight: bold;
}

.login__box {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__label,
.login__nav {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.login__text {
  font-size: 1.5em;
  padding-bottom: 8px;
}

.login__input {
  font-size: large;
  margin-bottom: 20px;
  padding: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.login__account ul li {
  font-size: 1.125em;
  display: inline;
  border-left: 2px solid #c0c0c0;
  padding: 0px 10px 0px 10px;
  margin: 5px 0px 5px 0px;
}

nav ul li:first-child {
  border-left: none;
}

button {
  box-sizing: border-box;
  font-size: large;
  margin-bottom: 20px;
  padding: 8px;
  background-color: #2d2d38;
  border-color: #2d2d38;
  color: white;
  border-radius: 4px;
  transition: background-color 0.25s;
}

button:hover {
  cursor: pointer;
  background-color: #43434d;
  border-color: #43434d;
}

.login__validate {
  color: red;
  font-size: 0.5em;
  display: none;
}
