.title {
  border: 1px solid #c0c0c0;
  padding: 6px 18px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
}

.section__container {
  width: 25%;
}

.button__container {
  display: flex;
  justify-content: flex-end;
}

.more {
  background: #505050;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
}

.content {
  list-style-type: none;
  padding: 0;
}

.content li {
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
}
